.manage-table {
  position: relative;
  background-color: white;
  width: 50%;
  margin: auto;
  margin-top: 0;
  padding-top: 52rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.56);
  max-height: 82vh;
  overflow: scroll;
}
::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgb(160, 160, 160);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #e0e0e0;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
.card-container {
  padding-top: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.card-container button {
  margin-left: 5.5rem;
  color: white;
  border-radius: 2px;
  width: 40px;
  height: 40px;
}
.manage-card {
  position: relative;
  width: 75%;
  margin: 0.5rem;
  margin-left: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
  background-color: rgba(41, 41, 41, 0.7);
  color: white;
}

.mng-img {
  width: 150px;
}

.price-col {
  margin-right: 2rem;
  font-size: 1.3rem;
  padding-top: 1.2rem;
}
.img-col {
  display: flex;
  align-items: center;
}
.qty-col {
  position: absolute;
  font-size: 1.3rem;
  left: 60%;
  top: 33%;
}
big {
  margin-left: 1rem;
}
.manage-vehicle-header {
  position: relative;
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 2rem;
  background-color: black;
  color: white;
  width: 50%;
  height: 4rem;
  padding-top: 1rem;
}

/* HEADERS */
.v-header {
  position: absolute;
  left: 8rem;
}
.qty-header {
  position: absolute;
  left: 46%;
}
.p-header {
  position: absolute;
  left: 74%;
}

.add-vehicle {
  position: absolute;
  right: 2rem;
  margin-bottom: 0.9rem;
}

@media (min-width: 4857px) {
  .manage-table {
    padding-top: 52rem;
  }
}

@media only screen and (max-width: 3840px) {
  .manage-table {
    padding-top: 58rem;
  }
}

/* USERS */
.manage-users-table {
  position: relative;
  background-color: white;
  width: 50%;
  margin: auto;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.56);
  overflow: auto;
}

.user-card-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
}
.user-accordion {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.accordion-main {
  width: 60rem !important;
  margin-right: 2rem;
  background-color: rgba(0, 0, 0, 0.6) !important;
  color: white !important;
}

.accordion-arrow {
  color: white !important;
}
