.Allcards {
  width: 50%;
  margin: auto;
  margin-top: 4rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.56);
  max-height: 82vh;
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgb(160, 160, 160);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #e0e0e0;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.Card {
  width: 300px;
  margin: 1rem;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
  background-color: rgb(56, 56, 56);
}

.Card-data {
  display: flex;
  font-size: 120%;
  text-align: left;
  margin-bottom: 0.5rem;
  justify-content: space-evenly;
  color: white;
}
.Card-data > a {
  color: white;
}
.Card-image {
  align-items: center;
  height: 180px;
}
.Card img:hover {
  transition: all ease 500ms;
  transform: scale(1);
  transform: scale(1.1);
  opacity: 0.7;
}

.Card img {
  max-width: 100%;
}
