.cart-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.cart-container > .cart-area {
  width: 50%;
  background-color: azure;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.56);
}
/* CART TOP */
.cart-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-top: 1.5rem;
  height: 5rem;
  background-color: black;
  color: white;
}
.cart-top button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/* CART TABLE */

/* CART ITEMS */
.cart-img {
  width: 200px;
}
