.carousel-size {
  width: 50%;
  margin: auto;
  margin-top: 1rem;
}

.nav-color {
  background-color: black !important;
  color: #ffc107 !important;
}

.greeting-container {
  width: 50%;
  margin: auto;
}
.home-greeting {
  font-size: 3rem;
  text-align: center;
  color: black;
  text-shadow: 2px 2px #ffc107;
  font-style: oblique;
  margin-top: 3rem;
}
