/* .singlevehicle {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: auto;
  height: 100vh;
}

.container {
  width: 50%;
  margin-left: auto;
  margin-top: 3rem;
}

/* HEADER BOX */
.top-info {
  background-color: rgb(12, 12, 12, 0.6);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
}

.logo-img {
  width: 4rem;
  margin-left: 1rem;
}

.vehicle-price {
  margin-right: 2rem;
  font-size: 2rem;
}
/* VEHICLE BOX */
.vehicle-name {
  margin-left: 2rem;
  font-size: 2rem;
}

.vehicle-card {
  display: flex;
}
.img-desription {
  display: flex;
}
.img-description-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(36, 36, 36);
  color: white;
}
.img-description-right p {
  color: white;
  padding: 1.5rem;
}

/* ADDING TO CART */

.vehicle-form {
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.vehicle-form form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.vehicle-form button {
  margin-bottom: 4rem;
  margin-right: 4rem;
}

.vehicle-form-select {
  margin-bottom: 4rem;
  margin-left: 4rem;
}

/* @media (max-width: 960px) {
  .singlevehicle {
    flex-direction: column;
  }

  .vehiclescreen_left {
    flex-direction: column;
    flex: 1;
  }

  .left_img {
    flex: 1;
  }

  .top_info {
    flex: 1;
  }

  .vehiclescreen_right {
    flex: 1;
    padding: 1rem;
  }

  .right_info {
    width: 100%;
    margin: 0;
  }
} */
