.singlevehicle {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: auto;
  background: rgb(230, 161, 161);
}

.halfWidth {
  width: 50%;
}

.midLeftMargin {
  margin-left: 5em;
  background: #a7dcfa;
}

.top_info {
  background-color: lightgrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-img {
  width: 5rem;
}

.vehicle-card {
  display: flex;
}
.img-desription {
  display: flex;
}
.img-description-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 960px) {
  .singlevehicle {
    flex-direction: column;
  }

  .vehiclescreen_left {
    flex-direction: column;
    flex: 1;
  }

  .left_img {
    flex: 1;
  }

  .top_info {
    flex: 1;
  }

  .vehiclescreen_right {
    flex: 1;
    padding: 1rem;
  }

  .right_info {
    width: 100%;
    margin: 0;
  }
}
