@import "./cssModules/allVehicles.css";
@import "./cssModules/singleVehicle.css";
@import "./cssModules/cart.css";
@import "./cssModules/home.css";

body {
  font-family: sans-serif;
  /* background-image: url("https://forum.cfx.re/uploads/default/original/4X/5/2/d/52dda17749e27535169e71cfc18c4403612e1902.jpeg"); */
  background-image: url("https://wallpaperaccess.com/full/3377719.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
